/*
 * generate by tool
*/
//using System.Collections;
//using System.Collections.Generic;
//using System.Linq;
//using LitJson;
//using FixedPointy;
namespace Table
{
    {# 创建私有变量#}
    {% macro create_fields(n) -%}
        {% for n2 in n %}
        /// <summary>
        ///{{n2.comment}}
        /// </summary>
        public {{ n2.type }} {{ n2.name }}; 
        {% endfor %}
    {%- endmacro %}
    {# 创建封装后的属性#}
    {% macro create_attr_fields(n) -%}
        {% for n2 in n %}
        public string {{n2.name | capitalize}} { get => {{ n2.name }}; }     {# set => {{ n2.name }} = value; #}
        {% endfor %}
    {%- endmacro %}   
    public class {{ name }} : BaseTable
    {
        {{create_fields(list)}}

        {{create_attr_fields(list)}}

    } 
}